#name {
  font-family: 'Jura', sans-serif;
  font-size: 4em;
}

.all {
  margin-top: 5em;
}

.icon {
  margin: 0 15px 0 0; 
  cursor: pointer;
}

.projects {
  list-style-type: none;
  list-style: none;
  padding: 0;
}

.box {
  position: relative;
  height: 150px;
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 10px 3px rgba(171,180,186,0.7);
  -moz-box-shadow: 3px 3px 10px 3px rgba(171,180,186,0.7);
  box-shadow: 3px 3px 10px 3px rgba(171,180,186,0.7);
}

.text-block {
  position: absolute;
  bottom: 0px;
  left: 0px;
  clip-path: polygon(0% 0, 85% 0, 25% 100%, 0% 100%);
  background: rgba(255,255,255,0.75);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);  
  height: 100%;
  width: 50%;
}
.info {
  margin: 0.7em;
}
.moreinfo {
  opacity: 0;
  width: 75%;
}

.img-hover-zoom {
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .75s ease;
}
.img-hover-zoom .text-block {
  transition: clip-path .75s ease;
}
.img-hover-zoom .moreinfo {
  transition: opacity .5s ease-in;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.1);
}
.img-hover-zoom:hover .text-block {
  clip-path: polygon(0% 0, 100% 0, 70% 100%, 0% 100%);
}
.img-hover-zoom:hover .moreinfo {
  opacity: 90%;
}

.popup {
  z-index: 2;
  cursor: default;
  width: 100%;
  height: 50vh;
  position: absolute;
  background-color: white;
}

.imgContainer {
  width: 40%;
}

/* RADIO IMAGES */
.imgRow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.imgCol {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
.imgCol img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  transition:.4s all;
}

.scale:hover {
  -webkit-transform: scale(2); 
  -moz-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
}

.featured {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.article {
  position: relative;
  width: 46%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  border-radius: 0.5em;
  margin: 0.5em;
}
.bottomText {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background: rgba(255,255,255,0.75);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px); 
  font-size: 1.5em;
  border-radius: 0.2em;
}

#aktualne {
  background-image: url('./src/aktualneScreen.png');
}

#denik {
  background-image: url('./src/denikScreen.png');
}

#bobr {
  background-image: url('./src/bobrScreen.png');
}

#blesk {
  background-image: url('./src/bleskScreen.png');
}

#prague {
  background-image: url('./src/pragueScreen.png');
}

#prima {
  background-image: url('./src/primaScreen.png');
}

#ct {
  background-image: url('./src/ctScreen.png');
}

#stredoskolak {
  background-image: url('./src/stredoskolakScreen.png');
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .imgCol {
    flex: 50%;
    max-width: 50%;
  }
  .article {
    width: 100%;
  }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .imgCol {
    flex: 100%;
    max-width: 100%;
  }
  .article {
    width: 100%;
  }
}